img {
    width: 200px;
    margin-left: 100%;
    margin-top: -25%;
    text-align: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 85%;
    text-shadow: 1px 1px lightblue;
}