body {
    background: -webkit-linear-gradient(green, lightblue); 
    background: -o-linear-gradient(green, lightblue); 
    background: -moz-linear-gradient(green, lightblue);
    background: linear-gradient(green, lightblue); 
	background-attachment: fixed;
}
table, tr, td, th {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
