* {
    background-color:gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    background-color: white;
    border-color: lightgray;
    border-style: groove;
    border-radius: 5px;
    padding: 8px; 
}

select {
    border-radius: 5px;
    border-color: gray
}

p, a{
    display: inline-block;
    font-size: 10px
}

p {
    color: gray;
    font-size: 12.5px
}

a {
    font-size: 12.5px;
}

button {
    background-color: green;
    padding: 7px;
    border-radius: 5px;
    width: 50%;
    color: white;
    font-size: 150%;
    font-weight: bold;
    border-color: green;
}
